.work-experience {
  width: 100%;
  height: 310px;
  margin: 10px 0px;
  padding: 5px;
}

.work-slide {
  width: 100%;
  height: 240px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.work-card {
  width: 235px;
  height: 238px;
  padding: 4px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);

  li {
    list-style: none;
  }
}
