.post-card {
  width: 120px;
  height: 50px;
  padding: 5px 3px;
  background-color: rgb(255, 255, 119);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  margin: 3px;
  border-color: rgba(76, 76, 76, 0.366);
}
