.white-container {
  width: 680px;
  height: 320px;
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: space-around;
  .button-container {
    display: flex;
    flex-direction: column;
  }
}
.white-board {
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
  border-color: rgba(136, 136, 136, 0.239);
}

.white-board-container {
  width: 170px;
  height: 90%;
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
  border-color: rgba(136, 136, 136, 0.239);
}

input,
button {
  margin: 5px 5px;
  height: 25px;
}

ol {
  margin: 10px 5px;
}

.card-list {
  height: 300px;
  width: 250px;
  overflow-y: scroll;
}
