.robot-table {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #0054887c;
}

.robot-size {
  position: absolute;
  font-size: 2px;
  margin-top: 5px;
  margin-left: 4px;
  width: 40px;
  height: 40px;
  transition-duration: 0.5s;
}

.cell {
  width: 50px;
  height: 50px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.372);
}
