.slide-project {
  width: 100%;
  height: 320px;
  display: flex;
  flex-direction: row;
}

.carousel {
  width: 680px;
  height: 320px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  margin: 4px 0px;
}

.project-button-container {
  height: 100%;
  padding-top: 5px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.project-button {
  width: 280px;
  height: 75px;
  padding: 5px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    scale: 1.01;
    border-width: 2px;
    cursor: pointer;
  }
  &:active {
    background-color: rgba(255, 255, 255, 0.5);
    border-top-width: 3px;
    border-top-color: rgba(86, 86, 86, 0.268);
  }
}
