.nav-bar {
  width: 100%;
  height: 44px;
  background-color: #0054887c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-item {
  width: auto;
  padding: 10px;
  text-align: center;
  font-weight: 500;
  &:hover {
    cursor: pointer;
    font-weight: bolder;
  }
}

.nav-menu {
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
